name: Python CI

on:
  push:
    branches:
      - '5.0'
  pull_request:
    branches:
      - '5.0'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.7", "3.8" ]
        neo4j-version: [ "4.4", "5" ]
        spark-version: [ {short: "3", ext: "3.3.2", scala: "2.12"} ]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: 'temurin'
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install six tzlocal==2.1
          pip install pyspark==${{ matrix.spark-version.ext }} "testcontainers[neo4j]"
      - name: Build artifact
        env:
          CI: true
        run: |
          ./maven-release.sh package ${{ matrix.spark-version.scala }}
      - name: Run tests for Spark ${{ matrix.spark-version.ext }} and Neo4j ${{ matrix.neo4j-version }}
        run: |
          project_version="$(mvn help:evaluate -Dexpression="project.version" --quiet -DforceStdout)"
          cd ./scripts/python
          python test_spark.py "${{ matrix.spark-version.short }}" "${{ matrix.spark-version.scala }}" "${{ matrix.neo4j-version }}" "${project_version}"
